
body
    background: $bg-color
    color: $fg-color



main
    display: flex
    flex-direction: column
    align-items: center
    width: 100%
    
    .banner
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 85vh
        margin: 0
        background: url("../../public/img/ai/fire-desert.png")
        background-size: cover
        padding: 0
        z-index: -1
        filter: grayscale(10%)
        opacity: 0.5

    .banner::after
        content: " "
        position: absolute
        width: 100%
        height: 100%
        background: linear-gradient(0deg, black, transparent)


    &>header
        padding-top: 15vh
        width: 80%
        max-width: 1200px
        display: flex
        flex-direction: row
        justify-content: space-between


    figure
        width: 500px
        margin: 0
        position: relative
        display: flex
        flex-direction: column
        align-items: flex-end

        img
            width: 40%
            border-radius: 1.5rem

        img:not(:last-child)
            margin-bottom: 2rem

        .bio-img
            filter: contrast(85%) hue-rotate(0deg) saturate(150%)
            width: 75%


    aside
        max-width: 50%

        img
            width: 100px
            height: 100px
            border-radius: 50%
            margin-bottom: 5vh
            

    aside h1
        font-size: 48pt
        line-height: 1

    aside p
        margin-top: 2rem
        line-height: 1.5
        font-size: 18pt

    aside p.small
        font-size: 14pt
        columns: 2

    .socials
        margin-top: 100px
        font-size: 32pt
        display: flex

        a
            color: $fg-color-3
            transition: 200ms steps(2, end)

        a:not(:last-child)
            margin-right: 1rem

        a:hover
            color: $fg-color
            transform: translateY(-5px)

    header a
        color: $accent-color
        text-decoration: none
        transition: 200ms color

        &:hover
            color: $accent-color-1

    h1, p
        margin: 0



article
    margin-top: 15vh
    width: 80%
    max-width: 1200px
    padding-bottom: 15vh
    
    header
        display: flex
        flex-direction: row
        justify-content: space-between
        align-items: flex-start

    header.f-start
        justify-content: flex-start

    header h1
        font-size: 30pt
        letter-spacing: 0
        font-weight: 750
        width: 30%

    aside
        font-size: 18pt
        line-height: 1.25

    header
        flex: 1


button
    border: 1px solid $fg-color-3
    background: transparent
    cursor: pointer
    font-weight: 600
    padding: 0.65rem 0.85rem
    color: $fg-color
    font-size: 12pt
    font-family: Inter, sans-serif
    display: flex
    justify-content: center
    align-items: center
    transition: 200ms steps(2, end)

    svg
        margin-left: 1rem

    &:hover
        background-color: $accent-color-2
        border-color: $accent-color-2



.references
    font-size: 14pt
    line-height: 1.5
    padding-top: 5vh

    display: grid
    grid-template-columns: 1fr 1fr
    grid-gap: 2rem

    &>div
        border-top: 1px solid $fg-color-3

    h2
        letter-spacing: -1px

    .reference
        font-weight: 300
        color: $fg-color-1

    .reference:not(:last-child)
        padding-bottom: 1rem


@keyframes spin
    0%
        transform: rotate(0deg)
    100%
        transform: rotate(360deg)
    

.loader
    width: 50px
    height: 50px
    border-radius: 50%
    border: 4px solid transparent
    border-top-color: $fg-color
    animation: spin 0.75s linear infinite