.picture-grid
    margin-top: 5vh
    display: grid
    // grid-template-columns: repeat(3, minmax(150px, 1fr))
    grid-template-columns: repeat(auto-fill, 325px)
    grid-template-rows: masonry 
    grid-gap: 2rem
    row-gap: 10vh

    .cell
        overflow: hidden
        // position:
        cursor: pointer
        transition: 200ms


        &:hover
            transform: translateY(-5px)

            img
                filter: saturate(110%) contrast(1.2)

        img
            width: 100%
            height: 400px
            object-fit: cover
            background: $fg-color-3

        h1
            margin-top: 1.5rem
            margin-bottom: 1rem
            line-height: 1
            letter-spacing: -1px


        p
            font-size: 12pt


.tags
    margin-top: 1rem
    padding-top: 1rem

    span, .tag
        background-color: $accent-color-3
        padding: 3px 5px
        display: inline-block

    span:not(:first-child), .tag:not(:first-child)
        margin-left: 10px
