
main.projects
    display: flex

    header, .content
        width: 80%
        max-width: 1200px

    header
        display: flex
        justify-content: flex-start
        align-content: center

    header h1
        font-size: 48pt
        flex: 1

    button
        font-size: 24pt
        padding: 0 1rem
        display: flex
        justify-content: center
        align-items: center
        margin-right: 2rem

        svg
            margin: 0
            padding: 0

main.projects .content
    h1
        font-size: 18pt